<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Ma todolist</h1>

        <ul id="todoWrapper">
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="#" class="delete" data-id="<%= index %>">✘</a> <%= todo %></li>
        <% }); %>
        </ul>
                <label for="newtodo">Que dois-je faire ?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" id="envoyer" />
            
        </form>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // Connexion à socket.io
            let socket = io.connect('http://localhost:8080');

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            $('#envoyer').click( (e) => {
                var message = $('#newtodo').val();
                socket.emit('todo', message); // Transmet le message aux autres
                $('#newtodo').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                
            });
            function RajoutEventListener() {
                todoElements = document.querySelectorAll('.delete');
                todoElements.forEach((elem) =>{
                    elem.addEventListener('click',() => {
                        let id = elem.dataset.id;
                        socket.emit('delete', id);
                    })
                })
            }
            RajoutEventListener();
            //function qui s'occupe de reset l'affichage
            socket.on('actualisationTodoAFaire',(todolist)=> {
                $('#todoWrapper').empty();
                todolist['todolist'].forEach(function(todo, index) {
                    $('#todoWrapper').prepend('<li><a href="#" class="delete" data-id="'+index+'">✘</a>'+todo+'</li>')
                });
                //lorsqu'on supprime un element, on transmet un evenment pour actualiser la page
                RajoutEventListener();
            });
        </script>
    </body>
</html>