<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Todo app</h1>
<div class="content">
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="supprimer/<%= index %>">✘</a> <%= todo %></li>
        <% }); %>
</div>
<form action="ajouter" method="POST">
    <p>Que dois-je faire ? <input type="text" name="action"> <input type="submit"></p>
</form>
</body>
</html>